@import url("https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,700;1,700&display=swap");

.gilda-display-regular {
  font-family: "Gilda Display", serif;
  font-weight: 400;
  font-style: normal;
}

.josefin-sans {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.raleway {
  font-family: "Raleway", system-ui;
  font-optical-sizing: auto;
  font-style: normal;
}

.secondNavbar {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.fa-bars {
  width: 50px;
  height: 50px;
}

.dot.active {
  background-color: #d11242;
}

button.prev:hover,
button.next:hover {
  color: #d11242;
}

.border-bottom {
  border-bottom: 1px solid #ffffff80; /* Beyaz renkte 1px kalınlığında bir çizgi */
}

.reservation-container {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.reservation-item {
  min-width: 150px;
}

.text-customRed {
  color: #d11242;
}

.bg-customRed {
  background-color: #d11242;
}

.border-customRed {
  border-color: #d11242;
}
